[submodule "src/libs/hephaestus/HTMLControlGenerator"]
	path = src/libs/hephaestus/HTMLControlGenerator
	url = https://github.com/csabatibortoth/HTMLControlGenerator.git
[submodule "src/libs/hephaestus/HTMLElementGenerator"]
	path = src/libs/hephaestus/HTMLElementGenerator
	url = https://github.com/csabatibortoth/HTMLElementGenerator.git
