[submodule "src/libs/hephaestus/HTMLControlGenerator"]
	path = src/libs/hephaestus/HTMLControlGenerator
	url = https://github.com/csabatibortoth/HTMLControlGenerator.git
[submodule "src/libs/hephaestus/HTMLElementGenerator"]
	path = src/libs/hephaestus/HTMLElementGenerator
	url = https://github.com/csabatibortoth/HTMLElementGenerator.git
[submodule "src/libs/crypto-js"]
	path = src/libs/crypto-js
	url = https://github.com/brix/crypto-js.git
[submodule "src/libs/js-cookie"]
	path = src/libs/js-cookie
	url = https://github.com/js-cookie/js-cookie.git
